<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="layout/static-include :: static-include">
</head>
<body>
	<th:block th:replace="layout/header-navi :: header-navi"></th:block>

	<div class="container mt-sm-2">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<h3 class="pb-sm-2">ユーザー検索</h3>
				<form action="/userSearch" method="post">
					<div class="form-group row">
						<label for="inputEmail" class="col-sm-2 col-form-label">ユーザーID</label>
						<div class="col-sm-2">
							<input type="text" name="userId" th:value="${form.userId}" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputEmail" class="col-sm-2 col-form-label">名前</label>
						<div class="col-sm-4">
							<input type="text" name="name" th:value="${form.name}" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2"></div>
						<div class="col-sm-4">
							<button class="btn btn-outline-info">検索</button>
							<a href="#" class="btn btn-outline-success">新規作成</a>
							<a href="/userSearch" class="btn btn-outline-secondary">戻る</a>
						</div>
					</div>

					<th:block th:if="${form.searchList.size() > 0}">
						<h3 class="pb-sm-2">検索結果</h3>
						<table class="table table-striped">
							<thead>
								<tr class="table-light row">
									<th class="col-sm-2">ID</th>
									<th class="col-sm-4">NAME</th>
									<th class="col-sm-3">BIRTH</th>
									<th class="col-sm-1"></th>
									<th class="col-sm-2"></th>
								</tr>
							</thead>
							<tbody>
								<tr class="row" th:each="user : ${form.searchList}">
									<td class="col-sm-2" th:text="${user.userId}"></td>
									<td class="col-sm-4" th:text="${user.name}"></td>
									<td class="col-sm-3" th:text="${user.birth}"></td>
									<td class="col-sm-1"><button class="btn btn-outline-warning">編集</button></td>
									<td class="col-sm-2"><button class="btn btn-outline-danger">編集</button></td>
								</tr>
							</tbody>
						</table>
					</th:block>
				</form>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</body>
</html>